body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
 }
#george {
 padding-left: 100px;
 padding-right: 100px;
}
#images {
     border-radius: 10px;
     object-fit: cover;
     max-width: 100%;
     width: 150%;
     height: 500px;
}
.logo{
 width: 100px;
 cursor: pointer;
}
.navbar{
 width: 85%;
 height: 15%;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
#sign{
 color: #083b6e;
 padding: 10px 25px;
 background: transparent;
 border: 1px solid rgb(106, 14, 14);
 border-radius: 20px;
 outline: none;
 cursor: pointer;

}
#titl{
 color: rgb(5, 64, 115);
 padding-top: 100px;
 padding-bottom: 50px;
 align-items: center;
 text-align: center;
}
#usr{
 border-color: blueviolet;
 background-position: 10px 10px;
 background-repeat: no-repeat;
 background: scroll;
 padding-left: 17px;
 border-radius: 20px;
 font-family: Roboto;
 font-weight: normal;
 width: 342px;

}
.icon{
 padding: 10px;
 min-width: 40px;
}
#sub{
 width: 342px;
}
#user{
 color: rgb(66, 8, 8);
}




