<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-widyh,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/testii.css')}}">
<style>
    body {
        background-image: Url("{{url_for('static',filename='images/sign.jpg')}}");
    }

</style>
</head>
<body>
    <div class="row">
        <div class="navbar">
            <!--navbar for a standerdisation and signup/login routing-->
            <img src="{{url_for('static',filename='images/logo.png')}}" class="logo">
        </div>
    </div>
<div class="row">
<div class="col-sm-12 col-lg-12 col-md-12 " id="george" style="  height: 282px;">
<div id="container">
    <!--video container-->
    <a href="\main"><img src="{{url_for('static',filename='images/im2.gif')}}" id="videoElement"></a>
</div>
<p class="text-center" style="font-size:26px!important"><b>SLR SYSTEM</b></p></div><div class="col-sm-12 col-lg-12 col-md-12 " id="george" style=" height: 248px;">
    <div id="container">
        <!--video container-->
      <a href="\reverse">  <img src="{{url_for('static',filename='images/im.gif')}}" id="videoElement"></a>
    </div>
    <p class="text-center" style="font-size:26px!important"><b>RSLD SYSTEM</b></p></div><div class="col-sm-12 col-lg-12 col-md-12 " id="george" style=" height: 248px;"></div>
            </div>
    <!--button container which holds all the operational button-->
</body>
</html>